.head-container{
  border: 1px solid white;
  height: 80px;
  background-color: rgb(240, 157, 171);
}

.name{
  font-weight: 150;
  font-size: 20px;
  margin: 30px;
  margin-left: 75px;
  color: white;
}

.larger-header{
  font-size: 60px;
  margin: 5px;
  margin-left: 1cm;
}

.larger-paragraph{
  font-size: 25px;
  margin-left: 1cm;
}

.menu-container{
  margin-left: 2cm;
  margin-top: 4cm;
  color: rgb(240, 157, 171);
}

li{
  display: inline-block;
  margin-right: 50px;
  border-radius: 10px;
}


a{
  color: rgb(240, 157, 171);
  font-size: 25px;
  margin-left:1cm;
}

a:hover{
  color: rgb(253, 195, 205);
}

img{
  margin-top: 2cm;
}

.about-header{
  color: rgb(240, 157, 171);
  
}


